.background-gradient {
  background: linear-gradient(90deg, blue, violet);
}

.primary-color {
  color: blue;
}

.stop-writing {
  background-image: url(../img/background.png);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 80vh;
}